* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #0f0f1a;
}
.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}
.click-counter {
  background-color: #2150eb;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 1rem;
	text-align: center;
	font-size: 30px;
  min-height: 270px;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-link {
  color: #61dafb;
}

.card {
  align-items: center;
}

.contenedor-principal {
  height: 550px;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button {
  width: auto;
  height: auto;
  font-size: 20px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
	background-color: #8e36e0;
}
.reset {
	background-color: #61dafb;
}
button:hover{
 background-color: #3e723e;
}
